.zgloszenieHeader {
    padding-top: 1px;
}
.zgloszenieHeader *{
    text-align: center;
}
.zgloszenieFormularz {
    margin-top: 30px;
    display: block;
}
.zgloszenieTopFormPanel {
    min-height: 200px;
}
.zgloszenieBotForm{
    min-height: 100px;
}
.textareaForm {
    margin-top: 30px;
}
.panel {
    margin-top: 30px;
}
.zgloszenieBtns {
    height: 30px;
    text-align: center;
}
.g-recaptcha > div > div{
    margin: 0 auto 10px auto;
}
@media (min-width: 1200px) {
    .panel{
        margin-top: 0;
    }
}
.help-block{
    transition: 0.2s !important;
}
