html, body, header, main, nav, ul, li, a, article, footer, figure, img {
    margin: 0;
    paddin: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}



figure img {
    width: 100%;
}

