/*GENERAL SETTINGS*/

html, body, header, main, nav, ul, li, a, article, footer, figure, img {
  margin: 0;
  paddin: 0;
}
.container {
  padding: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #bdc3c7;
}

/*HEADER AND IMG*/

header {
  width: 100%;
  height: 15%;
}
figure {
  height: 100%;
  width: 100%;
}
figure img#headerImg {
  height: 100%;
  width: 100%;
}

/*MAIN - MENU AND CHANGING CONTENTS DIV*/

main {
  height: 3000px;
  box-sizing: border-box;
  border: 1px solid black;
}

/*FOOTER AND SUBCONTENTS*/

footer {
  height: 30%;
  background-color: #222222;
}
#botContainer {
  height: 100%;
}
.fContents {
  min-height: 230px;
  margin: 20px 0 10px 0;
  color: #f25532;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #bdc3c7;
  font-size: 17px;
}
#fNav {
  border: none;
}
#bottomNav {
  height: 100%;
}

/*NEWSLETTER - SUBCONTENT OF FOOTER*/

.newsletterInputAroundsDiv {
  display: block;
  margin: 20px 0 20px 0;
  height: 40px;
}

/*CONTACT - SUBCONTENT OF FOOTER*/

.contactPar {
  margin: 15px 0;
  font-size: 18px;
}

/*COPYRIGHTS - SUBCONTENT OF FOOTER*/

.copyrights {
  margin: 20px;
  text-align: center;
  color: #726c65;
  background-color: #;
}

/*MEDIA QUERIES*/


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 992px) {
  #topNav {
    height: 50px;
  }
  #topNav ul {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #222222;
  }
  #topNav ul li {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    float: right;
    font-size: 17px;
  }
  #topNav ul li a {
    color: #bdc3c7;
    padding: 0 20px;
    display: block;
    height: 100%;
    transition: 0.3s;
  }
  #topNav ul li a:hover {
    transition: 0.3s;
    color: #f25532;
  }
  .activeTopMenuItem {
    float: left !important;
    transition: 0.3s;
  }
  .activeTopMenuItem a {
    color: #f25532 !important;
    text-decoration: underline;
  }
  .menuTopItem {
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1200px) {
  #newsletter {
    border: none;
  }
  .fContents {
    border-bottom: none;
  }
  #contact {
    border-right: 1px solid #bdc3c7;
  }
  #topNav {
    height: 50px;
  }
  #topNav ul {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #222222;
  }
  #topNav ul li {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    float: right;
    font-size: 17px;
  }
  #topNav ul li a {
    color: #bdc3c7;
    padding: 0 20px;
    display: block;
    height: 100%;
    transition: 0.3s;
  }
  #topNav ul li a:hover {
    transition: 0.3s;
    color: #f25532;
  }
  .activeTopMenuItem {
    float: left !important;
    transition: 0.3s;
  }
  .activeTopMenuItem a {
    color: #f25532 !important;
    text-decoration: underline;
  }
  .menuTopItem {
    display: none;
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .fContents {
    min-height: 230px;
    margin: 20px 0 10px 0;
    color: #f25532;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #bdc3c7;
    border-bottom: none;
    font-size: 17px;
  }
  .fContents:last-child {
    border: none;
  }
  .contactPar:nth-child(2) {
    margin-top: 40px;
  }
  #topNav {
    height: 50px;
  }
  #topNav ul {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #222222;
  }
  #topNav ul li {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    float: right;
    font-size: 17px;
  }
  #topNav ul li a {
    color: #bdc3c7;
    padding: 0 20px;
    display: block;
    height: 100%;
    transition: 0.3s;
  }
  #topNav ul li a:hover {
    transition: 0.3s;
    color: #f25532;
  }
  .activeTopMenuItem {
    float: left !important;
    transition: 0.3s;
  }
  .activeTopMenuItem a {
    color: #f25532 !important;
    text-decoration: underline;
  }
  .menuTopItem {
    display: none;
  }
}
