.contain {
    width: 400px;
    height: 100%;
    border: 1px solid red;
	font-family: Calibri;
	font-size: larger;
	font-weight: bold;
}

.colorContainer {
	width: 100%;
	display: flex;
	text-align: center;
	line-height: 50px;
}

.colorName {
	width: 100px;
	height: 50px;
}

.color{
    width: 300px;
    height: 50px;
	line-height: 50px;
}




#firstColor {
    background-color: #ecf0f1;
}

#secondColor {
    background-color: #bdc3c7;
}

#thirdColor {
    background-color: #8c359d;
}

#fourthColor {
    background-color: #f25532;
}

#fifthColor {
    background-color: #726c65;
}

#sixthColor {
    background-color: #222222;
}