<div class="modal-header">
    Komunikat z serwera
</div>
<div class="modal-body">
    <p class="text-warning">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon glyphicon-exclamation-sign gi-2x" aria-hidden="true"></span>

        &nbsp;&nbsp;&nbsp;&nbsp;<strong>Zgłoszenie wysłano więcej niż 3 razy!</strong>
    </p>
</div>
<div class="modal-footer">
    <a href="#/aktualnosci"><button ng-click="closeModal()" class="btn btn-primary return">Powrót do strony głównej</button></a>
    <a href="#/zgloszenie"><button class="btn btn-warning" ng-click="clearFormCloseModal()">Wypełnij ponownie formularz</button></a>
</div>
